<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="MBL Rainbow | MBL Rainbow Web Test Suite" thread-count="1" parallel="tests" verbose="1">

	<test name=" Admin Dashboard Test - chrome" parallel="methods" thread-count="1">
		<parameter name="browser" value="chrome" />
		<!--groups>
			<run>
				<include name="regression"/>

			</run>
		</groups-->

		<classes>
			<class name="com.konasl.mbl.system.mblAdmin.NotificationManagementTest"></class>
			<class name="com.konasl.mbl.system.mblAdmin.AdminDashboard"></class>
			<class name="com.konasl.mbl.system.mblAdmin.LocationManagementTest"></class>
			<class name="com.konasl.mbl.system.mblAdmin.BranchManagementTest"></class>
			<class name="com.konasl.mbl.system.mblAdmin.MerchantManagementTest"></class>
			<class name="com.konasl.mbl.system.mblAdmin.NotificationManagementTest"></class>


			<class name="com.konasl.mbl.system.mblAdmin.LocationManagementTest"></class>
			<class name="com.konasl.mbl.system.mblAdmin.LoginTest"></class>
			<class name="com.konasl.mbl.system.mblAdmin.ApprovalManagementTest"></class>
			<class name="com.konasl.mbl.system.mblAdmin.BranchManagementTest"></class>

			<class name="com.konasl.mbl.system.mblAdmin.UserManagementTest"></class>
			<class name="com.konasl.mbl.system.mblAdmin.BillPayManagementTest"></class>
		</classes>
	</test>
	<!--
	<test name="Login Test - chrome" parallel="methods" thread-count="1">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.konasl.mbl.system.mblAdmin.LoginTest" />

		</classes>
	</test>

	



	<test name=" Admin Location Management Test - chrome" parallel="methods" thread-count="1">
		<parameter name="browser" value="chrome" />
		<classes>
		<class name="com.konasl.mbl.system.mblAdmin.LocationManagementTest"></class>
		</classes>
	</test>

	<test name=" Admin Branch Management Test - chrome" parallel="methods" thread-count="1">
		<parameter name="browser" value="chrome" />
		<classes>
		<class name="com.konasl.mbl.system.mblAdmin.BranchManagementTest"></class>
		</classes>
	</test>

	<test name=" Admin Branch Management Test - chrome" parallel="methods" thread-count="1">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.konasl.mbl.system.mblAdmin.ApprovalManagementTest"></class>
		</classes>
	</test>

	<test name=" Admin Branch Management Test - chrome" parallel="methods" thread-count="1">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.konasl.mbl.system.mblAdmin.MerchantManagementTest"></class>
		</classes>
	</test>

	<test name=" Admin Branch Management Test - chrome" parallel="methods" thread-count="1">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.konasl.mbl.system.mblAdmin.UserManagementTest"></class>
		</classes>
	</test>

	<test name=" Admin Branch Management Test - chrome" parallel="methods" thread-count="1">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.konasl.mbl.system.mblAdmin.BillPayManagementTest"></class>
		</classes>
	</test>
	-->

</suite>

